// Styles des boutons
.home-button {
  padding: 15px 30px;
  width: 300px;
  font-size: 1.2em;
  color: $white;
  background-color: $primary-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  @include flex-center;
  flex-direction: column;
  gap: 5px;

  &:hover {
    background-color: $button-hover-color;
    transform: scale(1.05);
  }

  .level {
    font-size: 1.2em;
    font-weight: bold;
  }

  .description {
    font-size: 0.9em;
    color: #e0e0e0;
  }
}
