// Styles de la frame
.frame {
  background-color: $white;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $shadow;
  text-align: center;
  @include flex-center;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;

  .select-level-text {
    font-size: 1.5em;
    color: $secondary-color;
    margin-bottom: 20px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
